.billinput__title {
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    margin: 32px 0 6px;
}

.billinput__form {
    width: 311px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 32px;
}

.billinput__input {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    width: 311px;
    height: 48px;
    border-radius: 5px;
    background: #F3F9FA;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474B;
    padding-right: 17.48px;
}

.billinput__input:focus {
    outline: 2px solid #26C2AE;
}

.billinput__icon {
    width: 9.84px;
    height: 15.45px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1024px) {
    .billinput__title {
        margin: 45px 0 6px;
    }

    .billinput__form {
        width: 379px;
        margin-bottom: 40px;
    }

    .billinput__input {
        width: 379px;
    }
}